.left-upload-img {
  .upload-img {
    background-color: #ffffff;
    position: static;
    width: 148px;
    height: 31px;
    right: 0px;
    top: 16.5px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #31353B;
  }
}
